.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.odd {
    background-color: #ddebf7;
}

.even {
    background-color: #ffffff;
}

.head {
    border: 1px solid black;
    border-left: none;
    padding-left: 5px;
    height: 48px;
}

.first {
    border-left: 1px solid black !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top {
    margin-top: 10px;
}

.center {
    border-radius: 5px;
    display: block;
    width: auto;
    margin: auto;
}

.page-name {
    color:white;
    font-family: Verdana;
    font-size: 18px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.header {
    background-color: #292b2c;
    margin-right: 0 !important;
    font-size: 22px;
    padding: 0;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.chevron {
    color: white;
    transition-duration: 0.30s;
    display: inline-block;
    transition-property: transform;
    height: 35px;
    
}

.chevron:hover {
    transform: rotate(90deg);
}